<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Mezmur",             mezmur_path %></li>
            <li><%= link_to "Sebket",             sebket_path %></li>
            <li><%= link_to "Zema",             zema_path %></li>
            <li><%= link_to "Videos",             videos_path %></li>
            <li><%= link_to "Audio",             audio_path, :id => "my-highlight" %></li>
            <li><%= link_to "Photos",             photos_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        <div class="custom-playlist">
                            
                            <div class="container">
                                <div class="column add-bottom">
                                    <div id="mainwrap">
                                        <div id="nowPlay">
                                            <span class="left" id="npAction">Paused...</span>
                                            <span class="right" id="npTitle"></span>
                                        </div>
                                        <div id="audiowrap">
                                            <div id="audio0">
                                                <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                                            </div>
                                            <div id="tracks">
                                                <a id="btnPrev">&laquo;</a>
                                                <a id="btnNext">&raquo;</a>
                                            </div>
                                        </div>
                                        <div id="plwrap">
                                            <ul id="plList">
                                                <li>
                                                    <div class="plItem">
                                                        <div class="plNum">01.</div>
                                                        <div class="plTitle">ጌታ ተገኘ -- በዘማሪ ብርሃን ሞላ</div>
                                                        <div class="plLength">6:29</div>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- end of custom playlist -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    
    <script>
        // html5media enables <video> and <audio> tags in all major browsers
        // External File: http://api.html5media.info/1.1.8/html5media.min.js
        
        
        // Add user agent as an attribute on the <html> tag...
        // Inspiration: http://css-tricks.com/ie-10-specific-styles/
        var b = document.documentElement;
        b.setAttribute('data-useragent',  navigator.userAgent);
        b.setAttribute('data-platform', navigator.platform );
        
        
        // HTML5 audio player + playlist controls...
        // Inspiration: http://jonhall.info/how_to/create_a_playlist_for_html5_audio
        // Mythium Archive: https://archive.org/details/mythium/
        jQuery(function ($) {
            var supportsAudio = !! document.createElement('audio').canPlayType;
            if (supportsAudio) {
                var index = 0,
                    playing = false;
                mediaPath = 'https://archive.org/download/jossybirhane_gmail/', 
                extension = '',
                tracks = [{
                    "track": 1,
                    "name": "ጌታ ተገኘ -- በዘማሪ ብርሃን ሞላ",
                    "length": "6:29",
                    "file": "%e1%8c%8c%e1%89%b3%20%e1%89%b0%e1%8c%88%e1%8a%98%20%e1%89%a0%e1%8b%98%e1%88%9b%e1%88%aa%20%e1%89%a5%e1%88%ad%e1%88%83%e1%8a%95%20%e1%88%9e%e1%88%8b"
                }, {
                    
                }],
                trackCount = tracks.length,
                npAction = $('#npAction'),
                npTitle = $('#npTitle'),
                audio = $('#audio1').bind('play', function () {
                    playing = true;
                    npAction.text('Now Playing...');
                }).bind('pause', function () {
                    playing = false;
                    npAction.text('Paused...');
                }).bind('ended', function () {
                    npAction.text('Paused...');
                    if ((index + 1) < trackCount) {
                        index++;
                        loadTrack(index);
                        audio.play();
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }).get(0),
                btnPrev = $('#btnPrev').click(function () {
                    if ((index - 1) > -1) {
                        index--;
                        loadTrack(index);
                        if (playing) {
                            audio.play();
                        }
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }),
                btnNext = $('#btnNext').click(function () {
                    if ((index + 1) < trackCount) {
                        index++;
                        loadTrack(index);
                        if (playing) {
                            audio.play();
                        }
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }),
                li = $('#plList li').click(function () {
                    var id = parseInt($(this).index());
                    if (id !== index) {
                        playTrack(id);
                    }
                }),
                loadTrack = function (id) {
                    $('.plSel').removeClass('plSel');
                    $('#plList li:eq(' + id + ')').addClass('plSel');
                    npTitle.text(tracks[id].name);
                    index = id;
                    audio.src = mediaPath + tracks[id].file + extension;
                },
                playTrack = function (id) {
                    loadTrack(id);
                    audio.play();
                };
                extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
                loadTrack(index);
            }
        });
    </script>
    
    <script type="text/javascript" src="http://api.html5media.info/1.1.8/html5media.min.js"></script>