<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Mezmur",             mezmur_path %></li>
            <li><%= link_to "Sebket",             sebket_path %></li>
            <li><%= link_to "Zema",             zema_path %></li>
            <li><%= link_to "Videos",             videos_path %></li>
            <li><%= link_to "Audio",             audio_path %></li>
            <li><%= link_to "Photos",             photos_path, :id => "my-highlight" %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        
                        <div id="cp_widget_ce5f5a72-4144-4590-a615-2b5ed5630b37">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_ce5f5a72-4144-4590-a615-2b5ed5630b37"; cpo["_fid"] = "AYJAeyMOT0dL";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>2015 Kidanemihret Photos</span><span>cameramake</span><span> Canon</span><span>height</span><span> 3456</span><span>orientation</span><span> 1</span><span>flash</span><span> 16</span><span>originaldate</span><span> 9/28/2014 11:21:25 AM</span><span>width</span><span> 5184</span><span>cameramodel</span><span> Canon EOS 7D</span><span>cameramake</span><span> Canon</span><span>height</span><span> 3456</span><span>orientation</span><span> 1</span><span>flash</span><span> 9</span><span>originaldate</span><span> 8/24/2014 3:47:44 AM</span><span>width</span><span> 5184</span><span>cameramodel</span><span> Canon EOS 7D</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 2390</span><span>height</span><span> 1551</span><span>cameramake</span><span> Canon</span><span>height</span><span> 3456</span><span>orientation</span><span> 1</span><span>flash</span><span> 16</span><span>originaldate</span><span> 9/28/2014 11:24:45 AM</span><span>width</span><span> 5184</span><span>cameramodel</span><span> Canon EOS 7D</span></noscript>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>