<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Mezmur",             mezmur_path %></li>
            <li><%= link_to "Sebket",             sebket_path, :id => "my-highlight" %></li>
            <li><%= link_to "Zema",             zema_path %></li>
            <li><%= link_to "Videos",             videos_path %></li>
            <li><%= link_to "Audio",             audio_path %></li>
            <li><%= link_to "Photos",             photos_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        
                        <div class="container" id="first-container">
                            <div class="title"><h2>Sebket Collection - One</h2></div>
                      		<!-- THE YOUTUBE PLAYER -->
                      		<div class="vid-container">
                    		    <iframe id="vid_frame" src="http://youtube.com/embed/54QdNyDh5iY?&rel=0&showinfo=0&autohide=1" frameborder="0" width="560" height="315"></iframe>
                    		</div>
                    		<!-- THE PLAYLIST -->
                    		<div class="vid-list-container">
                    	        <div class="vid-list">
                    	         	
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/54QdNyDh5iY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/54QdNyDh5iY/0.jpg"></div>
                     	              <div class="desc">በርተሚዮስ - ሊቀ መዘምራን ይልማ ሀይሉ</div>
                     	            </div>
                     	          
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/vej5uFkWQKU?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/vej5uFkWQKU/0.jpg"></div>
                     	              <div class="desc">Yilma Hailu Selam Le'ki Mezmur</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/qfNgp4SQVpk?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/qfNgp4SQVpk/0.jpg"></div>
                     	              <div class="desc">ደም ግባት አልባ....ቴዎድሮስ ዮሴፍ</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/tIt_eztOgTs?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/tIt_eztOgTs/0.jpg"></div>
                     	              <div class="desc">"ይበራል በክንፉ" Zemari Tewodros</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/4dFz9QxgpTA?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/4dFz9QxgpTA/0.jpg"></div>
                     	              <div class="desc">HALELUYA- YILMA</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/fxI5-_N6v6Y?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/fxI5-_N6v6Y/0.jpg"></div>
                     	              <div class="desc">Ethiopian Orthodox Mezmur - Yeab kal Akbrosh - Yilma Hailu - የአብ ቃል አክብሮሽ</div>
                     	            </div>
                     	          
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/vR_EvsmB_z0?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/vR_EvsmB_z0/0.jpg"></div>
                     	              <div class="desc">YE-ERQ SENED NESH- YILMA</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/tbyhvBKrjWA?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/tbyhvBKrjWA/0.jpg"></div>
                     	              <div class="desc">yilma hailu</div>
                     	            </div>
                    
                    	 	    </div>
                            </div>
                            <!-- LEFT AND RIGHT ARROWS -->
                            <div class="arrows">
                            	<div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
                            	<div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
                            </div>
                      	</div><!-- end of container -->
                      	
                      	<!-- You can add more playlists in this space with the format above: keep them in their own container -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->



<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<!-- JS FOR SCROLLING THE ROW OF THUMBNAILS -->
<script>
    $(document).ready(function () {
        $(".arrow-right").bind("click", function (event) {
            event.preventDefault();
            $(".vid-list-container").stop().animate({
                scrollLeft: "+=336"
            }, 750);
        });
        $(".arrow-left").bind("click", function (event) {
            event.preventDefault();
            $(".vid-list-container").stop().animate({
                scrollLeft: "-=336"
            }, 750);
        });
    });
</script>