<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Mezmur",             mezmur_path %></li>
            <li><%= link_to "Sebket",             sebket_path %></li>
            <li><%= link_to "Zema",             zema_path %></li>
            <li><%= link_to "Videos",             videos_path, :id => "my-highlight" %></li>
            <li><%= link_to "Audio",             audio_path %></li>
            <li><%= link_to "Photos",             photos_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        
                        
                        <div class="container">
                      		<!-- THE YOUTUBE PLAYER -->
                      		<div class="vid-container">
                    		    <iframe id="vid_frame" src="http://www.youtube.com/embed/eg6kNoJmzkY?rel=0&showinfo=0&autohide=1" frameborder="0" width="560" height="315"></iframe>
                    		</div>
                    		<!-- THE PLAYLIST -->
                    		<div class="vid-list-container">
                    	        <div class="vid-list">
                    	         	
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/eg6kNoJmzkY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"></div>
                     	              <div class="desc">Jessica Hernandez & the Deltas - Dead Brains</div>
                     	            </div>
                     	          
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/_Tz7KROhuAw?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/_Tz7KROhuAw/0.jpg"></div>
                     	              <div class="desc">Barbatuques - CD Tum P&aacute; - Sambalel&ecirc;</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/F1f-gn_mG8M?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/F1f-gn_mG8M/0.jpg"></div>
                     	              <div class="desc">Eleanor Turner plays Baroque Flamenco</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/fB8UTheTR7s?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/fB8UTheTR7s/0.jpg"></div>
                     	              <div class="desc">Sleepy Man Banjo Boys: Bluegrass</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/0SNhAKyXtC8?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/0SNhAKyXtC8/0.jpg"></div>
                     	              <div class="desc">Edmar Castaneda: NPR Music Tiny Desk Concert</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/RTHI_uGyfTM?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/RTHI_uGyfTM/0.jpg"></div>
                     	              <div class="desc">Winter Harp performs Caravan</div>
                     	            </div>
                     	          
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/abQRt6p8T7g?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/abQRt6p8T7g/0.jpg"></div>
                     	              <div class="desc">The Avett Brothers Tiny Desk Concert</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/fpmN9JorFew?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/fpmN9JorFew/0.jpg"></div>
                     	              <div class="desc">Tracy Chapman - Give Me One Reason</div>
                     	            </div>
                    
                    	 	    </div>
                            </div>
                    
                            <!-- LEFT AND RIGHT ARROWS -->
                            <div class="arrows">
                            	<div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
                            	<div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
                            </div>
                    
                      	</div>

  	                    <div class="caption"><a href="http://www.woosterwebdesign.com/responsive-youtube-player-with-playlist/">Related Blog Post</a></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->




<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
    
<!-- JS FOR SCROLLING THE ROW OF THUMBNAILS -->
<script>
    $(document).ready(function () {
        $(".arrow-right").bind("click", function (event) {
            event.preventDefault();
            $(".vid-list-container").stop().animate({
                scrollLeft: "+=336"
            }, 750);
        });
        $(".arrow-left").bind("click", function (event) {
            event.preventDefault();
            $(".vid-list-container").stop().animate({
                scrollLeft: "-=336"
            }, 750);
        });
    });
</script>