<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Mezmur (Holy Hymns)",             mezmur_path %></li>
            <li><%= link_to "Sebket (Teachings)",             sebket_path %></li>
            <li><%= link_to "zema (Tewahedo Melodies)",             zema_path %></li>
            <li><%= link_to "Videos",             videos_path %></li>
            <li><%= link_to "Audio",             audio_path %></li>
            <li><%= link_to "Photos",             photos_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>History of the Ethiopian Orthodox Tewahedo Church</h1>
                                <p>"The Ethiopian Orthodox Tewahedo Church is an ancient church which upholds the Apostolic Teachings"</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /#page-content-wrapper -->
        </div>
    </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->