<style>
    #mfooter {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu
                </a>
            </li>
            <li><%= link_to "Mezmur",             mezmur_path %></li>
            <li><%= link_to "Sebket",             sebket_path %></li>
            <li><%= link_to "Zema",             zema_path, :id => "my-highlight" %></li>
            <li><%= link_to "Videos",             videos_path %></li>
            <li><%= link_to "Audio",             audio_path %></li>
            <li><%= link_to "Photos",             photos_path %></li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="cont-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-sub">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content-sub">
                        
                        <div class="custom-playlist">
                            
                            <div class="container my-playlist-one">
                                <div class="column add-bottom">
                                    <div id="mainwrap">
                                        <div id="nowPlay">
                                            <span class="left" id="npAction">Paused...</span>
                                            <span class="right" id="npTitle"></span>
                                        </div>
                                        <div id="audiowrap">
                                            <div id="audio0">
                                                <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                                            </div>
                                            <div id="tracks">
                                                <a id="btnPrev">&laquo;</a>
                                                <a id="btnNext">&raquo;</a>
                                            </div>
                                        </div>
                                        <div id="plwrap">
                                            <ul id="plList">
                                                <li>
                                                    <div class="plItem">
                                                        <div class="plNum">01.</div>
                                                        <div class="plTitle">ጌታ ተገኘ -- በዘማሪ ብርሃን ሞላ</div>
                                                        <div class="plLength">6:29</div>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- end of custom playlist -->
                        
                        
                        
                        <div class="container" id="first-container">
                            <div class="title"><h2>Mezmur Collection - One</h2></div>
                      		<!-- THE YOUTUBE PLAYER -->
                      		<div class="vid-container">
                    		    <iframe id="vid_frame" src="http://youtube.com/embed/54QdNyDh5iY?&rel=0&showinfo=0&autohide=1" frameborder="0" width="560" height="315"></iframe>
                    		</div>
                    		<!-- THE PLAYLIST -->
                    		<div class="vid-list-container">
                    	        <div class="vid-list">
                    	         	
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/54QdNyDh5iY?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/54QdNyDh5iY/0.jpg"></div>
                     	              <div class="desc">በርተሚዮስ - ሊቀ መዘምራን ይልማ ሀይሉ</div>
                     	            </div>
                     	          
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/vej5uFkWQKU?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/vej5uFkWQKU/0.jpg"></div>
                     	              <div class="desc">Yilma Hailu Selam Le'ki Mezmur</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/qfNgp4SQVpk?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/qfNgp4SQVpk/0.jpg"></div>
                     	              <div class="desc">ደም ግባት አልባ....ቴዎድሮስ ዮሴፍ</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/tIt_eztOgTs?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/tIt_eztOgTs/0.jpg"></div>
                     	              <div class="desc">"ይበራል በክንፉ" Zemari Tewodros</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/4dFz9QxgpTA?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/4dFz9QxgpTA/0.jpg"></div>
                     	              <div class="desc">HALELUYA- YILMA</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/fxI5-_N6v6Y?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/fxI5-_N6v6Y/0.jpg"></div>
                     	              <div class="desc">Ethiopian Orthodox Mezmur - Yeab kal Akbrosh - Yilma Hailu - የአብ ቃል አክብሮሽ</div>
                     	            </div>
                     	          
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/vR_EvsmB_z0?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/vR_EvsmB_z0/0.jpg"></div>
                     	              <div class="desc">YE-ERQ SENED NESH- YILMA</div>
                     	            </div>
                    
                     	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='http://youtube.com/embed/tbyhvBKrjWA?autoplay=1&rel=0&showinfo=0&autohide=1'">
                     	              <div class="thumb"><img src="http://img.youtube.com/vi/tbyhvBKrjWA/0.jpg"></div>
                     	              <div class="desc">yilma hailu</div>
                     	            </div>
                    
                    	 	    </div>
                            </div>
                            <!-- LEFT AND RIGHT ARROWS -->
                            <div class="arrows">
                            	<div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
                            	<div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
                            </div>
                      	</div><!-- end of container -->
                      	
                      	<!-- You can add more playlists in this space with the format above: keep them in their own container -->
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    
    <script>
        // html5media enables <video> and <audio> tags in all major browsers
        // External File: http://api.html5media.info/1.1.8/html5media.min.js
        
        
        // Add user agent as an attribute on the <html> tag...
        // Inspiration: http://css-tricks.com/ie-10-specific-styles/
        var b = document.documentElement;
        b.setAttribute('data-useragent',  navigator.userAgent);
        b.setAttribute('data-platform', navigator.platform );
        
        
        // HTML5 audio player + playlist controls...
        // Inspiration: http://jonhall.info/how_to/create_a_playlist_for_html5_audio
        // Mythium Archive: https://archive.org/details/mythium/
        jQuery(function ($) {
            var supportsAudio = !! document.createElement('audio').canPlayType;
            if (supportsAudio) {
                var index = 0,
                    playing = false;
                mediaPath = 'https://archive.org/download/jossybirhane_gmail/', 
                extension = '',
                tracks = [{
                    "track": 1,
                    "name": "ጌታ ተገኘ -- በዘማሪ ብርሃን ሞላ",
                    "length": "6:29",
                    "file": "%e1%8c%8c%e1%89%b3%20%e1%89%b0%e1%8c%88%e1%8a%98%20%e1%89%a0%e1%8b%98%e1%88%9b%e1%88%aa%20%e1%89%a5%e1%88%ad%e1%88%83%e1%8a%95%20%e1%88%9e%e1%88%8b"
                }, {
                    
                }],
                trackCount = tracks.length,
                npAction = $('#npAction'),
                npTitle = $('#npTitle'),
                audio = $('#audio1').bind('play', function () {
                    playing = true;
                    npAction.text('Now Playing...');
                }).bind('pause', function () {
                    playing = false;
                    npAction.text('Paused...');
                }).bind('ended', function () {
                    npAction.text('Paused...');
                    if ((index + 1) < trackCount) {
                        index++;
                        loadTrack(index);
                        audio.play();
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }).get(0),
                btnPrev = $('#btnPrev').click(function () {
                    if ((index - 1) > -1) {
                        index--;
                        loadTrack(index);
                        if (playing) {
                            audio.play();
                        }
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }),
                btnNext = $('#btnNext').click(function () {
                    if ((index + 1) < trackCount) {
                        index++;
                        loadTrack(index);
                        if (playing) {
                            audio.play();
                        }
                    } else {
                        audio.pause();
                        index = 0;
                        loadTrack(index);
                    }
                }),
                li = $('#plList li').click(function () {
                    var id = parseInt($(this).index());
                    if (id !== index) {
                        playTrack(id);
                    }
                }),
                loadTrack = function (id) {
                    $('.plSel').removeClass('plSel');
                    $('#plList li:eq(' + id + ')').addClass('plSel');
                    npTitle.text(tracks[id].name);
                    index = id;
                    audio.src = mediaPath + tracks[id].file + extension;
                },
                playTrack = function (id) {
                    loadTrack(id);
                    audio.play();
                };
                extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
                loadTrack(index);
            }
        });
    </script>
    
    <script type="text/javascript" src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
    
<!-- JS FOR SCROLLING THE ROW OF THUMBNAILS -->
<script>
    $(document).ready(function () {
        $(".arrow-right").bind("click", function (event) {
            event.preventDefault();
            $(".vid-list-container").stop().animate({
                scrollLeft: "+=336"
            }, 750);
        });
        $(".arrow-left").bind("click", function (event) {
            event.preventDefault();
            $(".vid-list-container").stop().animate({
                scrollLeft: "-=336"
            }, 750);
        });
    });
</script>