<% provide(:title, "Blog") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="home">
  <div id="left-col-column">
    <div class="first-color colors"></div>
    <div class="second-color colors"></div>
    <div class="third-color colors"></div>
    <div class="fourth-color colors"></div>
    <div class="fifth-color colors"></div>
  </div>
  <div id="main-page">
  <!-- have page html here -->



    <!-- sidebar -->
    <div id="sidebar">
      <div id="sidebar-wrapper">
              
          <!-- sidebar main content -->
          <div id="sidebar-main" class="mCustomScrollbar sidebarscroll" data-mcs-theme="minimal-dark">
            
            <div id="sidebar-img-container">
              <%= image_tag("profile-pic.jpg", alt: "Profile Picture", id: "sidebar-profpic") %>
            </div>
            <div id="sidebar-img-caption">
              <h3>Alexander Maru</h3>
              <p>If you eliminate the impossible, whatever remains</p>
            </div>
            <a target="_blank" href="/resume.pdf" title="" id="sidebar-resume-btn">
              <p><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp; Resume</p>
            </a>
            <div id="sidebar-social-links">
              <ul>
                <li><a target="_blank" id="sd-github" href="https://github.com/assefamaru" title=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a target="_blank" id="sd-linkedin" href="https://ca.linkedin.com/in/alexander-maru-01166480" title=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a target="_blank" id="sd-stackoverflow" href="https://stackoverflow.com/users/4739247/alexander-maru" title=""><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
                <li><a target="_blank" id="sd-twitter" href="https://twitter.com/assefamaru" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>
              <ul id="second-ul">
                <li><a target="_blank" id="sd-facebook" href="https://www.facebook.com/profile.php?id=100002986246900" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a target="_blank" id="sd-youtube" href="https://www.youtube.com/channel/UC1OistarJyvoHtsj8f2OMdA" title=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                <li><a target="_blank" id="sd-gplus" href="https://plus.google.com/+AlexanderMaru" title=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a target="_blank" id="sd-quora" href="https://www.quora.com/profile/Alexander-Maru" title=""><i class="icon-quora"></i></a></li>
              </ul>
            </div>

            <div class="sidebar-fading-section">
              <div class="sidebar-fading-title">
                <p><a>About Me</a></p>
              </div>
              <div class="sidebar-box">
                <p class="sidebar-lorem">I was born and raised in Addis Ababa, Ethiopia, in a town called Kolfe Keranio. When I turned eleven, my family and I moved to Githurai, Kenya as refugees, and lived there for five years. We relocated to Canada in 2011, where I currently reside.</p>
                <p class="sidebar-lorem">I entered University of Waterloo in 2014, studying Mathematics and Computer Science. I started learning to program when I started uni, and web-development in 2015. I am now a full-time student, and part-time web-developer, with a wide range of interests including doing research and working on projects involving AI, robotics, ML/Data-Mining, and a host of other fields.</p>
                <p class="sidebar-lorem">Some of my hobbies include chess, Rubik's cubes, pi, drawing, football (AKA soccer), martial-arts, cross-country running, and taking strolls in warm sunny days. I am an Ethiopian Orthodox Tewahedo Christian. My favourite food is injera.</p>
                <p class="sidebar-lorem">According to my country's Ethiopian Calendar, I was born on July 19, 1987, and the current year is 2008. Using the popular Gregorian Calendar, however, July 26, 1995 is my birthday, and 2016 is the current year.</p>
                <p class="read-more"><a href="#" class="button button-red">Read More</a></p>
              </div>
            </div>

            <div id="sidebar-projects">
              <div id="sidebar-projects-title">
                <p><a>Projects</a></p>
              </div>
              <div id="sidebar-projects-content">
                <ul id="sd-pr-first">
                  <li><a target="_blank" href="http://alexandermaru.com/" title="personal site 2.0"><%= image_tag("site-version-2.png") %></a></li>
                  <li><a target="_blank" href="http://kidanemihret.org/" title="Kidane Mihret Web App"><%= image_tag("kidanemihret.png") %></a></li>
                </ul>
                <ul id="sd-pr-second">
                  <li><a target="_blank" href="http://alexandermaru.herokuapp.com/pharmacogx/" title="PharmacoGx"><%= image_tag("pharmacogx.png") %></a></li>
                  <li><a target="_blank" href="https://github.com/assefamaru/personal-site-1.0" title="personal site 1.0"><%= image_tag("site-version-1.png") %></a></li>
                </ul>
                <ul id="sd-pr-third">
                  <li><a target="_blank" href="https://github.com/IgnitionBoulder" title="Ignition Coding Camp"><%= image_tag("ignition.png") %></a></li>
                  <li><a target="_blank" href="http://alexandermaru.herokuapp.com/all-projects/" title="More"><%= image_tag("pharmacogx.png") %></a></li>
                </ul>
              </div>
            </div>

            <div id="sidebar-lyrics" class="sidebar-fading-section">
              <div class="sidebar-fading-title">
                <p><a target="_blank" href="https://www.youtube.com/watch?v=U6y7YOlldek" title="credits">Tl;dr</a><span class="tldr-follow"> I am a thoughtful guy</span></p>
              </div>
              <div class="sidebar-box">
                <p class="sidebar-lorem">I am a thoughtful guy. I think about a lot of things.</p>
                <p class="sidebar-lorem">I am a thoughtful guy. I think a lot of thoughts; about a lot of things.</p>
                <p class="sidebar-lorem">I think about space and the vastness of it. I think about cake and how much I love it. I think about if Wal Mart is good or evil. I think tattoos are cool - on other people.</p>
                <p class="sidebar-lorem">I think about the unexplored depths of the ocean. I think about the difference in ointment and lotion. I think about if - I should wax my back. I think a handful of nuts is healthy snack.</p>
                <p class="sidebar-lorem">I think of all the places that a penny has been. Like, seriously, think of all the places that a penny's been in. It could've been in the pocket of the President's suit, but it's probably also been in some toddler's poop. Cause little kids eat pennies like they're Flintstone Vitamins, accruing no interest while traveling inside of them. Re-entering circulation might boost the economy, but I'd rather not pay with a penny that's performed a colonoscopy.</p>
                <p class="sidebar-lorem">I think that our universe is really one of many. With many parallel me's stretching to infinity, doing activities similarly to me yet, at the same time, done slightly differently. And seemingly, right now, they could be thinking this - same thought as me. Well, a similar thought but not the same thought exactly. That's pretty deep.</p>
                <p class="sidebar-lorem">I am a thoughtful guy. Right now, I'm thinkin about the people who invented words... did they just look at stuff and say the first thing that came to their minds? And if so, how do you explain dufflebag?</p>
                <p class="sidebar-lorem">I think how do I know that you and me see the same colors the same way when you and me see. Is my red blue for you, or my green your green too? Could it be true we see differing hues? And say we do - then how would we discover this fact? And even if we did, would there even be any impact? I don't think this would affect us personally, but I think it would have ripple effects through the interior design industry.</p>
                <p class="sidebar-lorem">I am a thoughtful guy. Right now, I'm thinking about what if I was abducted by aliens while I had a really bad farmer's tan - the aliens might incorrectly conclude that our species was two-toned. And then somehow, through this error, my tan lines saved the human race.</p> 
                <p class="sidebar-lorem">Yeah, I think a lot of thoughts like these.</p>
                <p class="sidebar-lorem">- Lyrics from 'I am a Thoughtful Guy' - Rhett & Link</p>
                <p class="read-more"><a href="#" class="button button-blue">Read More</a></p>
              </div>
            </div>

            <div id="my-name">
              <div id="my-name-title">
                <p><a target="_blank" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" title="Brace yourself - rickroll is coming">Fun Facts</a><span class="tldr-follow"> My Name</span></p>
              </div>
              <p><a target="_blank" href="https://www.urbandictionary.com/define.php?term=Alexander" class="my-name-name">Alexander </a>: means defender of men (Greek).</p>
              <p><a target="_blank" href="https://www.wikiwand.com/en/Maru_(cat)" class="my-name-name">Maru </a>: means honey (Amharic).</p>
              <p id="maru-cat-desc">The first search result when looking up Maru is a male Scottish Fold cat in Japan who has become popular on YouTube. As of January 2016, videos with Maru have been viewed over 300 million times.</p>
              <div id="maru-cat-img">
                <%= image_tag("maru.jpg") %>
              </div>
            </div>

            <div id="sidebar-follow-me">
              <div id="sidebar-follow-ttr">
                <a href="https://twitter.com/assefamaru" class="twitter-follow-button" data-show-count="false">Follow @assefamaru</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div> 
              <div id="sidebar-follow-fb">
                <div class="fb-follow" data-href="https://www.facebook.com/profile.php?id=100002986246900" data-layout="button" data-show-faces="true"></div>
              </div>
            </div>

            <div id="sidebar-footer">
              <p>&copy; 2016 Alexander Maru</p>
            </div>
          </div>
              
          <!-- sidebar right side options/links -->
          <div id="sidebar-right">
            <div id="menu-toggle">
              <a>
                <span class="icon-bar" id="first-icon-bar"></span>
                <span class="icon-bar" id="second-icon-bar"></span>
                <span class="icon-bar" id="third-icon-bar"></span>
              </a>
            </div>
            <%= link_to root_path, class: "glyph-container-one", 'data-no-turbolink' => true, title: "Home", id: "home-icon" do %>
              <i class="icon-homealt"></i>
            <% end %>
            <%= link_to resume_path, class: "glyph-container-one", 'data-no-turbolink' => true, title: "Resume", id: "resume" do %>
              <i class="fa fa-paperclip" aria-hidden="true"></i>
            <% end %>
            <%= link_to blog_path, class: "glyph-container-one", 'data-no-turbolink' => true, title: "Blog", id: "blog" do %>
              <i class="fa fa-medium" aria-hidden="true"></i>
            <% end %>
          </div>
        
    </div>
  </div>
</div>

<!-- make navbar fixed after scroll -->
<script type="text/javascript">
  num = $('.horiz-navbar').offset().top;
  $(window).bind('scroll', function() {
    if ($(window).scrollTop() > num) {
      $('.horiz-navbar').addClass('horiz-navbar-fixed');
    } else {
      num = $('.horiz-navbar').offset().top;
      $('.horiz-navbar').removeClass('horiz-navbar-fixed');
    }
  });
</script>

<!-- script for sliding sidebar left and right -->
<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar").toggleClass("toggled");
    $("#first-icon-bar").toggleClass("toggled");
    $("#second-icon-bar").toggleClass("toggled");
    $("#third-icon-bar").toggleClass("toggled");
  });

  $("#sidebar-close-btn").click(function(e) {
    e.preventDefault();
    $("#sidebar").toggleClass("toggled");
    $("#first-icon-bar").toggleClass("toggled");
    $("#second-icon-bar").toggleClass("toggled");
    $("#third-icon-bar").toggleClass("toggled");
  });

  // In addition,
  // set 'home' as the active icon on this page
  $("#blog").toggleClass("active");
</script>

<script type="text/javascript">
  var $el, $ps, $up, totalHeight;

  $(".sidebar-box .button").click(function() {
        
    totalHeight = 0

    $el = $(this);
    $p  = $el.parent();
    $up = $p.parent();
    $ps = $up.find("p:not('.read-more')");
    
    // measure how tall inside should be by adding together heights of all inside paragraphs (except read-more paragraph)
    $ps.each(function() {
      totalHeight += $(this).outerHeight();
    });
          
    $up
      .css({
        // Set height to prevent instant jumpdown when max height is removed
        "height": $up.height(),
        "max-height": 9999
      })
      .animate({
        "height": totalHeight
      });
    
    // fade out read-more
    $p.fadeOut();
    
    // prevent jump-down
    return false;
      
  });
</script>

<script type="text/javascript">
  $(".sidebarscroll").mCustomScrollbar({
    mouseWheel:{ scrollAmount: 300 }
  });
</script>
