<div id="home">
  <div id="left-col-column">
    <div class="first-color colors"></div>
    <div class="second-color colors"></div>
    <div class="third-color colors"></div>
    <div class="fourth-color colors"></div>
    <div class="fifth-color colors"></div>
  </div>
  <div id="main-page">
    
    <!-- Top section -->
    <div id="main-page-top">
      <div class="full-video">
        <%= video_tag "mars.mp4", :autoplay => true, :loop => true, :alt => "background video", :id => "myvideo" %>
      </div>
      <div class="top-overlay"></div>
      <div class="overlay-text">
        <div class="ot-navbar" id="ot-navbar">
          <a href="" title="Don't even think about it, unless you're as courageous as">Do Not Click Here</a>
        </div>
        <h1>Alexander <span class="last-name">Maru</span></h1>
        <h2> Three. Point. One. Four. [ <span id="switch">One</span> ]</h2>
        <div class="arrow-wrapper">
          <div class="arrow-wrapper-immediate">
            <a href="#about-me"><div class="arrow bounce"></div></a>
          </div>
        </div>
        <div class="horiz-navbar" id="horiz-navbar">
          <div id="left-wrapper">
            <div class="progress">
              <div class="progress-green"></div>
              <div class="progress-yellow"></div>
              <div class="progress-red"></div>
              <div class="progress-navy"></div>
            </div>
            <div class="tab-wrapper">
              <div class="tab"></div>
            </div>
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <%= link_to(:anchor => "about-me") do %>
                <i class="fa fa-user fa-fw"></i>&nbsp; About
              <% end %>
            </li>
            <li>
              <%= link_to(:anchor => "projects") do %>
                <i class="fa fa-briefcase fa-fw"></i>&nbsp; Projects
              <% end %>
            </li>
            <li>
              <%= link_to(:anchor => "contact") do %>
                <i class="fa fa-location-arrow fa-fw"></i>&nbsp; Contact
              <% end %>
            </li>
            <li>
              <%= link_to(:anchor => "links") do %>
                <i class="fa fa-link fa-fw"></i>&nbsp; Links
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- about me section -->
    <div id="about-me">
      <div id="about-me-container">
        <%= image_tag("profile-pic.jpg", alt: "Profile Picture", id: "profile-pic") %>
        <div class="section-title">About Me</div>
        <div id="about-me-text">
          <p><span class="space-tab"></span>I was born and raised in <a target="_blank" href="https://www.wikiwand.com/en/Addis_Ababa" title="Addis Ababa, Ethiopia">Addis Ababa, Ethiopia</a>, in a town called <a target="_blank" href="https://www.wikiwand.com/en/Kolfe_Keranio" title="">Kolfe Keranio</a>. When I turned eleven, my family and I moved to <a target="_blank" href="https://www.wikiwand.com/en/Githurai" title="Githurai, Kenya">Githurai, Kenya</a> as refugees, and lived there for five years. We relocated to Canada in 2011, where I currently reside. I entered <a target="_blank" href="https://www.wikiwand.com/en/University_of_Waterloo" title="University of Waterloo">University of Waterloo</a> in 2014, studying Mathematics and Computer Science. I started learning to program when I started uni, and web-development in 2015. I am now a full-time student, and part-time web-developer, with a wide range of interests including doing research and working on projects involving AI, robotics, ML/Data-Mining, and a host of other fields.</p>
          <p><span class="space-tab"></span>Some of my hobbies include chess, Rubik's cubes, pi, drawing, football (AKA soccer), martial-arts, cross-country running, and taking strolls in warm sunny days. I am an <a target="_blank" href="https://www.wikiwand.com/en/Ethiopian_Orthodox_Tewahedo_Church" title="EOTC">Ethiopian Orthodox Tewahedo Christian</a>. My favourite food is <a target="_blank" href="https://www.wikiwand.com/en/Injera" title="Most delicious food in the world!">injera</a>, and my favourite song is <a target="_blank" href="https://www.youtube.com/watch?v=1UC6ZZGKR3c" title="I'm not going to rickroll you, trust me.">this</a>.</p>
          <p><span class="space-tab"></span>Fun fact: According to my country's <a target="_blank" href="https://www.wikiwand.com/en/Ethiopian_calendar" title="">Ethiopian Calendar</a>, I was born on July 19, 1987, and the current year is 2008. Using the popular <a target="_blank" href="https://www.wikiwand.com/en/Gregorian_calendar" title="">Gregorian Calendar</a>, however, July 26, 1995 is my birthday, and 2016 is the current year.</p>
        </div>
      </div>
    </div>

    <!-- projects section -->
    <div id="projects">
      <div class="section-title">My Projects</div>
      <ul class="projects-container">
        <a href="http://alexandermaru.com/" title=""><li class="project-item">
          <div class="project-image">
            <%= image_tag("site-version-2.png") %>
            <div class="pimg-overlay"></div>
          </div>
          <div class="project-caption">
            <p>Personal Site 2.0</p>
          </div>
        </li></a>
        <a target="_blank" href="http://kidanemihret.org/" title=""><li class="project-item">
          <div class="project-image">
            <%= image_tag("kidane.png") %>
            <div class="pimg-overlay"></div>
          </div>
          <div class="project-caption">
            Kidane Mihret Web Application (EOTC)
          </div>
        </li></a>
        <a target="_blank" href="https://github.com/assefamaru/assefamaru.github.io" title=""><li class="project-item">
          <div class="project-image">
            <%= image_tag("site-version-1.png") %>
            <div class="pimg-overlay"></div>
          </div>
          <div class="project-caption">
            <p>Personal Site 1.0</p>
          </div>
        </li></a>
        <a target="_blank" href="http://sparkboulder.com/classes/" title=""><li class="project-item">
          <div class="project-image">
            <%= image_tag("ignition.png") %>
            <div class="pimg-overlay"></div>
          </div>
          <div class="project-caption">
            <p>Ignition Coding Camp</p>
          </div>
        </li></a>
        <a target="_blank" href="https://github.com/bhklab/PharmacoGx" title=""><li class="project-item">
          <div class="project-image">
            <%= image_tag("rshiny.png") %>
            <div class="pimg-overlay"></div>
          </div>
          <div class="project-caption">
            <p>PharmacoGx Web Interface</p>
          </div>
        </li></a>
        <a href="" title=""><li class="project-item">
          <div class="project-image">
            <%= image_tag("eye.jpg") %>
            <div class="pimg-overlay"></div>
          </div>
          <div class="project-caption">
            <p>See More</p>
          </div>
        </li></a>
      </ul>
    </div>

    <!-- contact section -->
    <div id="contact">
      
    </div>

    <!-- links section -->
    <div id="links">
      
    </div>

    <!-- sidebar -->
    <div id="sidebar">
      <div id="sidebar-wrapper">
        <div id="about" class="nano">
              
          <!-- sidebar main content -->
          <div id="sidebar-main" class="nano-content">
                
          </div>
              
          <!-- sidebar right side options/links -->
          <div id="sidebar-right">
            <div id="menu-toggle">
              <a>
                <span class="icon-bar" id="first-icon-bar"></span>
                <span class="icon-bar" id="second-icon-bar"></span>
                <span class="icon-bar" id="third-icon-bar"></span>
              </a>
            </div>
            <%= link_to root_path, class: "glyph-container-one", title: "Home", id: "home-icon" do %>
              <i class="icon-homealt"></i>
            <% end %>
            <%= link_to resume_path, class: "glyph-container-one", 'data-no-turbolink' => true, title: "Resume", id: "resume" do %>
              <i class="fa fa-file-text-o"></i>
            <% end %>
            <%= link_to blog_path, class: "glyph-container-one", title: "Blog", id: "blog" do %>
              <i class="fa fa-rss"></i>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div>
<!-- make navbar fixed after scroll -->
<script type="text/javascript">
  num = $('.horiz-navbar').offset().top;
  $(window).bind('scroll', function() {
    if ($(window).scrollTop() > num) {
      $('.horiz-navbar').addClass('horiz-navbar-fixed');
    } else {
      num = $('.horiz-navbar').offset().top;
      $('.horiz-navbar').removeClass('horiz-navbar-fixed');
    }
  });
</script>

<!-- smooth scrolling within page -->
<script type="text/javascript">
  (function() {
    $(function() {
      return $('.scroll-to-form').click("on", function(e) {
        return $(this).smoothScroll({
          speed: 2000
        });
      });
    });

  }).call(this);
</script>

<!-- script for sliding sidebar left and right -->
<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar").toggleClass("toggled");
    $("#first-icon-bar").toggleClass("toggled");
    $("#second-icon-bar").toggleClass("toggled");
    $("#third-icon-bar").toggleClass("toggled");
  });

  // In addition,
  // set 'home' as the active icon on this page
  $("#home-icon").toggleClass("active");
</script>

<!-- change text on welcome screen every 2 seconds -->
<script type="text/javascript">
  (function(){
    // List of words:
    var words = [
      'One',
      'Five',
      'Nine',
      'Two',
      'Six',
      'Five',
      'Three',
      'Five',
      'Eight',
      'Nine',
      'Seven',
      'Nine',
      'Three',
      'Two',
      'Three',
      'Eight',
      'Four',
      'Six',
      'Two',
      'Six',
      'Four',
      'Repeating'
    ], i = 0;
    setInterval(function(){
      $('#switch').fadeOut(function(){
        $(this).html(words[i=(i+1)%words.length]).fadeIn();
      });
      // 2 seconds
    }, 2000);
  })();
</script>

<!-- enable nano scroller in sidebar -->
<script type="text/javascript">
  $(".nano").nanoScroller();
</script>