<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="#">
    <meta name="author" content="#">
    
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'cross.ico' %>
    
    <meta property="og:title" content="Kidanemihret Ethiopian Orthodox Tewahedo Church"/>
    <meta property="og:url" content="http://kidanemihret.org/"/>
    <meta property="og:site_name" content="Hamere Noah Kidanemihret Ethiopian Orthodox Tewahedo Church"/>
    <meta property="og:street-address" content="54 Benton Street, Kitchener, ON"/>
    <meta property="og:locality" content="Kitchener"/>
    <meta property="og:region" content="Ontario"/>
    <meta property="og:postal-code" content="N2G 3H2"/>
    <meta property="og:country-name" content="Canada"/>
    <meta property="og:email" content="marua7665@gmail.com"/>
    <meta property="og:type" content="non_profit"/>
    <meta property="og:description" content="This is a website for Hamere Noah Kidanemihret Ethiopian Orthodox Tewahedo Church located in Kitchener, Ontario, Canada."/>
    <meta property="og:title" content="Kidanemihret Ethiopian Orthodox Tewahedo Church"/>
    <meta property="og:url" content="http://kidanemihret.org/"/>
    <meta property="og:site_name" content="Hamere Noah Kidanemihret Ethiopian Orthodox Tewahedo Church"/>
    <meta property="og:street-address" content="54 Benton Street, Kitchener, ON"/>
    <meta property="og:locality" content="Kitchener"/>
    <meta property="og:region" content="Ontario"/>
    <meta property="og:postal-code" content="N2G 3H2"/>
    <meta property="og:country-name" content="Canada"/>
    <meta property="og:email" content="marua7665@gmail.com"/>
    <meta property="og:type" content="non_profit"/>
    <meta property="og:description" content="This is a website for Hamere Noah Kidanemihret Ethiopian Orthodox Tewahedo Church located in Kitchener, Ontario, Canada."/>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Google web fonts -->
    <%= google_webfonts_init({
      google: ['Roboto Slab', 'Roboto', 'Merriweather', 'Merriweather Sans']
    }) %>
    <%= google_webfonts_init({
      monotype: ['Helvetica', 'Raleway']
    }) %>
    
    
    <!-- Insert to your webpage before the </head> -->
    <script src="audioplayerengine/jquery.js"></script>
    <script src="audioplayerengine/amazingaudioplayer.js"></script>
    <link rel="stylesheet" type="text/css" href="audioplayerengine/initaudioplayer-1.css">
    <script src="audioplayerengine/initaudioplayer-1.js"></script>
    <!-- End of head section HTML codes -->

  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="yield-body">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
