<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="#">
    <meta name="author" content="#">
    
    <title><%= full_title(yield(:title)) %></title>
    <link rel="icon" href="#">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    
    <!-- Google web fonts -->
    <%= google_webfonts_init({
      google: ['Roboto Slab', 'Roboto', 'Merriweather', 'Merriweather Sans']
    }) %>
    <%= google_webfonts_init({
      monotype: ['Helvetica', 'Raleway']
    }) %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
