<!DOCTYPE html>
<!--
   ___      _                                        _                    
  /   \    | |     ___    __ __   __ _    _ _     __| |    ___      _ _   
  | - |    | |    / -_)   \ \ /  / _` |  | ' \   / _` |   / -_)    | '_|  
  |_|_|   _|_|_   \___|   /_\_\  \__,_|  |_||_|  \__,_|   \___|   _|_|_   
_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""|  
"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'  
  _____   _                         ___                             _     
 |_   _| | |_      ___      o O O  / __|     _ _    ___    __ _    | |_   
   | |   | ' \    / -_)    o      | (_ |    | '_|  / -_)  / _` |   |  _|  
  _|_|_  |_||_|   \___|   TS__[O]  \___|   _|_|_   \___|  \__,_|   _\__|  
_|"""""|_|"""""|_|"""""| {======|_|"""""|_|"""""|_|"""""|_|"""""|_|"""""| 
"`-0-0-'"`-0-0-'"`-0-0-'./o--000'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'"`-0-0-'
-->
<html>
<head>
<!-- META
============================================ -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= full_title(yield(:title)) %></title>
<meta name="author" content="Alexander Maru">
<meta name="description" content="I am Alexander Maru, a student, programmer, and aspiring mathematician. Math|CS @UWaterloo. Front|Back-End Web-Developer.">
<!-- FAVICON
============================================ -->
<%= favicon_link_tag 'favicons/apple-icon-57x57.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-60x60.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-72x72.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-76x76.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-114x114.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-120x120.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-144x144.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-152x152.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/apple-icon-180x180.png', rel: 'apple-touch-icon' %>
<%= favicon_link_tag 'favicons/android-icon-192x192.png', rel: 'icon', type: 'image/png' %>
<%= favicon_link_tag 'favicons/favicon-32x32.png', rel: 'icon', type: 'image/png' %>
<%= favicon_link_tag 'favicons/favicon-96x96.png', rel: 'icon', type: 'image/png' %>
<%= favicon_link_tag 'favicons/favicon-16x16.png', rel: 'icon', type: 'image/png' %>
<!-- SOCIAL DATA
============================================ -->
<meta property="og:title" content="Alexander Maru">
<meta property="og:url" content="http://alexandermaru.com">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Alexander Maru">
<meta property="og:description" content="I am Alexander Maru, a student, programmer, and aspiring mathematician. Math|CS @UWaterloo. Front|Back-End Web-Developer.">

<meta property="og:image" content="<%= og_image_path %>">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Alexander Maru">
<meta name="twitter:description" content="I am Alexander Maru, a student, programmer, and aspiring mathematician. Math|CS @UWaterloo. Front|Back-End Web-Developer.">
<meta name="twitter:creator" content="@assefamaru">
<meta name="twitter:domain" content="http://alexandermaru.com">
<meta name="twitter:site" content="@assefamaru">
<meta name="twitter:image" content="<%= og_image_path %>">
<!-- STYLESHEETS
============================================ -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- JAVASCRIPT
============================================ -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<!-- FONTS
============================================ -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
<%= google_webfonts_init({
		google: ['Roboto', 'Oswald', 'Lato', 'Roboto Slab', 'Alegreya', 'Alegreya Sans', 'Kameron']
	}) %>
<!-- GOOGLE ANALYTICS
============================================ -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69201269-1', 'auto');
  ga('send', 'pageview');
</script>
<%= render 'layouts/shim' %>
</head>

<body>

<%= yield %>

</body>
</html>
